
@media(max-width: 1200px){
/* release-products */
    .product-details{
        width: 50%;
    }
/* /release-products */
}
@media(max-width: 991px){
/* release-products */
    .product-details{
        width: 100%;
    }
    .all{
        flex-direction: column;
        align-items: center;
    }
    .wordPress{
        flex-direction: column;
        align-items: center;
    }
    .jomla{
        flex-direction: column;
        align-items: center;
    }
    .plugins{
        flex-direction: column;
        align-items: center;
    }
    .component{
        flex-direction: column;
        align-items: center;
    }
    /* /release-products */
    /* baner */
    .wrapper-content{
        flex-direction: column;
    }
   .baner-title{
        margin-bottom: 40px;
    }
    /* /baner */
    /* product-details */
    .wrapp-button{
        flex-direction: column;
    }
        .wrapp-button .btn-product-details:first-child{
            margin-bottom:10px;
        }
        .wrapp-button .btn-product-details:nth-child(2) {
            margin-bottom:10px;
        }
    
.product-details-information .container{
    flex-direction: column;
    align-items:center;
 }
    /* /product-details */


}
@media(max-width:767px){
/* release-products */
    .our-work{
        flex-direction: column;
        align-items: center;
    }
    .our-work li{
        margin:0;
        margin-bottom:30px;
    }
    .more-items{
        flex-direction: column;
        align-items: center;
   
        button{
         margin-bottom:20px;

     }
    } 
/* /release-products */




}

