@import "../_variabels";
@import "../_mixins";
body{
    font-family:  'Conv_Lato-Semibold';
    font-family: 'Roboto', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family:"Fontawesome";
 }