@import "../_variabels";
@import "../_mixins";

footer {
    width: 100%;
                            /* footer */
    background-color: $background-text;
  }
  .subfooter-top {
    width: 100%;
    border-bottom: 1px solid $line-color;  /* upper subfooter */
  }
  .default-container-footer  {
    @include default-container;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 30px;
    }
    .wrapper {
      display: flex;
      flex-direction: row;
    }
  .about {
    width: 270px;
    margin-right: 30px;                                /* Block "About" */
  }
  .title-footer {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;                           
    font-size: 22px;
    color: $color-text;
    padding-top: 120px;
  }
    
   .title-footer::after {
      content: '';
      display: block;
      background-color: $star-button;                /* Line */
      margin-top: 25px;
      margin-bottom: 30px;
      width: 50px;
      height: 3px;
  }
  .text-footer {
      text-align: left;
      @include default-text-400;
                  /* Text */
      font-size: 15px;
      color: $line-color;
      margin-bottom: 30px;	
  }
  .adress {
    display: flex;
    flex-direction: row;
  }
  .fas.fa-map-marker-alt {
  color: $star-button;                       /* Icon marer in a map */
  }
  
  .contact {
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      font-size: 14px;                       /* Contact informaton */
      color: $color-text;
      display: inline-block;
      margin-left: 15px;
  }
  .fas.fa-phone {
      color: $star-button;                 /* color for phone */
    }   
      .fas.fa-phone {
      transform: rotateY(180deg);/* Icon phone */
  }

  .phone {
      
      margin-top: 10px;                  /* Block for Icon phone  */
      padding-bottom: 100px;
  }
  
  .join {
    width: 220px;
    margin-right: 30px;             /* block "Join" */
  }
  a {
    cursor: pointer;
  }
  .fas.fa-angle-right {
    color: $star-button;
    font-size: 15px;  
  }
  .list {
      color: #b7c3c8;
      font-size: 15px;
      font-weight: normal;
      font-family: 'Roboto', sans-serif;    /* Features of list */
      margin-bottom: 25px;
      margin-left: 15px;
  }
  .join {
		li {
		margin-bottom: 15px;        /* margins between li */
		}
  }
  .help {
    width: 200px; 
    margin-right: 30px;       /* block help */
  }
  .help {
		li {
		margin-bottom: 15px;         /* margins between li */
    }
  }
  .follow {
    width: 270px; 
                   /* Block "Follow" */
  }
  .sprite {
    width: 170px;
    display: flex;                           /* Container for sprite */
    justify-content: space-between;
	margin-bottom: 50px;
  }
  .icon {
    display: inline-block;
  }
  .icon-facebook {
    background-image: url(../img/sprite.png);
    background-position: -68px -37px;
    width: 28px;
    height: 28px;
  }
  .icon-twitter {
    background-image: url(../img/sprite.png);
    background-position: -56px -74px;
    width: 28px;
    height: 28px;
  }
  .icon-youtoobe {
    background-image: url(../img/sprite.png);
    background-position: -102px 0px;
    width: 28px;
    height: 28px;
  }
  .icon-pinterest {
    background-image: url(../img/sprite.png);
    background-position: -28px -74px;
    width: 28px;
    height: 28px;
  }
  .icon-in {
    background-image: url(../img/sprite.png);
    background-position: -0px -74px;
    width: 28px;
    height: 28px;
  }
  .newsletter {
    @include default-text-400;                           
    font-size: 22px;                        /* features of newsletter */
    color: $color-text;
    margin-top: 40px;
	  margin-bottom: 20px;
  }
  .form-btn-footer {
    display: flex;
    flex-direction: row;
  }
  
  .form-footer {
    height: 40px;          /* Block for form */
  }
  .form-control1 {
    width: 215px;
    height: 40px;
    padding: 0 15px;
    @include default-text-400;
    background-color: #2f3c43;           /* Form */
    border-left: 1px solid $border-input;
    border-top: 1px solid $border-input;
    color: #697378;
    font-size: 14px;
  }
  .btn-footer {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;             /* button */
    align-items: center;
    background-color: $star-button;
  }
  .fa-location-arrow {
    color: $color-text;
  }
  
  .text-subfooter-bottom {
    font-size: 15px;
    color: #919699;
    padding-top: 27px;
    padding-bottom: 35px;
    @include default-text-400;        /* Text in subfooter */
    text-align: center;
    display: block; 
  }

  @media (max-width: 1200px) {
    .default-container-footer  {
      @include default-container;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      padding: 0px 30px; 
    }
    .phone {
      margin-top: 10px;
      padding-bottom: 0px;
  }
  .help {
    
    margin-bottom: 100px;
  }
}
  @media (max-width: 991px) {
    .title-footer {
      padding-top: 0px;
    }
    .wrapper {
      margin: 50px 0;
    }
    .help {
    
      margin-bottom: 0px;
    }
  }
    
  @media (max-width: 767px) {
    .default-container-footer  {
      @include default-container;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      padding: 0px 30px; 
    }
    .about {
      width: 270px;
      
    }
    .title-footer {
      padding-top: 50px;
    }
    .join {
      width: 220px;
  }
  .help {
      width: 200px;
      margin-bottom: 50px;
  }
  .follow {
      width: 270px; 
  }
  .default-container-footer { 
    flex-wrap: wrap;
}
.phone {
  padding-bottom: 0px;
  }
}
@media (max-width: 576px) {
  .wrapper {
    flex-direction: column;
    margin: 50px 0;
}
.help {
    
  margin-bottom: 0px;
}
}
  
  @media (max-width: 548px) {
  .default-container-footer  {
    @include default-container;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0px 30px; 
  }
  
  .title-footer {
    padding-top: 0px;
  }
.help {
  width: 100%;
  margin-bottom: 0px;
  }
.follow {
  width: 100%;
  margin-bottom: 70px;
  }
}