@import "../_variabels";
@import "../_mixins";

.free-monthly {
                     /* Block "Free-monthly" */
    width: 100%;
}
.default-container-free-monthly  {
  margin: auto;
  max-width: 1200px;
  padding: 0 30px;
  display: flex;
  flex-direction: column;

}
.title-free-monthly  {
    color: #263238;
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 70px;
  }
  .roww-free {
    display: flex;
    flex-direction: row;
    padding-bottom: 120px;
  }
  .row-block-free {
    max-width: 370px;
    width: 370px;
}
  .coll-4 {
    width: 33.333333%;            /* Width of the column for 4/12 part of the page */ 
    }
    .row-block-free + .row-block-free {
      margin-left: 30px;
    }
  .bg {
    background-color: #d4d4d4;
    border-color: #d4d4d4;                   /* Block with background */
    height: 270px;
  }

.subtitle-block {
  height: 100px;
  margin: auto;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #263238;
  background-color: #f8f8f8;
  @include flex-center;
}
.col-hover:hover {

  .bg {
      background-color: #b5b5b5;             /* Hover */
  }
  .subtitle-block {
      color: $hover;
      background-color: #d4d4d4;
  }
}

  @media (max-width: 1200px) {
  .roww-free {
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 90px;
    }
    .row-block-free {
    margin-bottom: 30px;
  }
  .row-block-free + .row-block-free {
    margin-left: 30px;
  }
} 
@media (max-width: 838px) {
    .roww-free {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .row-block-free + .row-block-free {
      margin-left: 0px;
    }
}  
@media (max-width: 767px) {        
    .roww-free {
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 0px;
    }
    .row-block-free {
      width: 100%;
    }
    .row-block-free {
      margin-bottom: 30px;
  }
}
@media (max-width: 548px) {
.coll-xs-12 {
    width: 100%;
}
}

