@import "../_variabels";
@import "../_mixins";


header{
    font-family: 'Roboto', sans-serif;
    width: 100%;

}
.menu-top{
    @include default-container;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 27px auto;
}

.menu-help{
    margin-left: 485px;
    font-size: 15px;
    p{
        color: #e74c3c;
        span{
            color: #546e7a;
        }
    }
}

.menu-icon{
    @include flex-center;
    margin-left: 28px;
    width: 34px;
    height: 34px;
    background: #f5f5f5;
    border-radius: 50%;
    position: relative;
    a{
        color: #a0a0a0;
    }
}

.menu-icon-number{
    @include flex-center;
    position: absolute;
    top: -30%;
    right: -4px;
    background: $color-top;
    color: $color-text;
    font-size: 12px;
    border-radius: 50%;
    height: 18px;
    width: 18px;
}

/* --- button decoration --- */

.menu-top-button{
    margin-left: 21px;
    font-size: 12px;
    color:$color-text;
}

.menu-top-button-l{ 
    padding: 12px 21px;
    background:#8bc34a;
    border-radius: 5px;
}

.menu-top-button-r{
    background: $color-top;
    padding: 12px 14px;
    border-radius: 5px;
}
/* --- / button decoration --- */

/* --- menu-nav --- */

.menu-nav{
    @include flex-center;
    background: #263238;
    min-height: 60px;
    font-family: 'Roboto', sans-serif;
    ul{
        @include default-container;
        @include flex-center;
        justify-content: flex-start;
        color: $color-text;
        font-weight: 500;
        font-size: 14px;
    }
}
.menu-nav li + li{
    margin-left: 40px;
}
.slicknav_menu {
    display:none;
}
/* --- / menu-nav --- */

/* --- site adaptation --- */

@media(max-width: 1170px){
    .menu-help{
        justify-content: flex-start;
    }
    .menu-logo{
        margin-left: 15px;
    }
    .menu-help{
        margin: auto;
    }
    .menu-top-button{
        margin-right: 15px;
    }
    /*--- / menu-top ---*/

}
@media(max-width: 880px){

    .menu-logo img{
        max-width: 70%;
    }
    .menu-help {
        font-size: 12px;
    }
    .menu-icon {
        width: 24px;
        height: 24px;
    }
    .fa-shopping-cart{
        font-size: 12px;
    }
    .menu-icon-number {
        font-size: 8px;
        height: 13px;
        width: 13px;
    }
    .menu-top-button {
        font-size: 10px;
    }
    .menu-top-button-l{
        padding: 9px 13px;
    }
    .menu-top-button-r{
        padding: 9px 6px;
    }
    /*--- / menu-top ---*/

    .menu-nav ul {
        font-size: 12px;
    }
    .menu-nav li+li {
        margin-left: 20px;
    }
    /* -- slicknav_menu -- */

     #main {
        display:none;
    }
     .menu-nav-ul .slicknav_menu {
        display:block; 
    }
    /* -- /.slicknav_menu -- */
}

@media(max-width: 590px){

    .menu-logo img{
        max-width: 50%;
    } 
    .menu-help p{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 10px;
    }
    .menu-icon {
        width: 20px;
        height: 20px;
    }
    .fa-shopping-cart{
        @include flex-center ();
        font-size: 9px;
    }
    .menu-icon-number {
        font-size: 7px;
        height: 10px;
        width: 10px;
        top: -5px;
        right: -2px;
    }
    .menu-top-button-l{ 
        padding: 6px 11px;
    }
    .menu-top-button-r{
        padding: 6px 4px;
    }

}

@media(max-width: 490px){
    .menu-top{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .menu-logo{
        margin: auto;
    }
    .menu-help{
        margin-top: 10px;
    }
    .menu-help p span{
        margin-top: 10px;
    }
    .menu-icon{
        margin-top: 10px;
        margin-left: 0px;
    }
    .menu-top-button{
        margin-top: 10px;
    }
    .menu-top-button-l{ 
        padding: 3px 11px;
    }
    .menu-top-button-r{
        padding: 3px 4px;
    }
}

