@import "../_variabels";
@import "../_mixins";

/* --- block login --- */

.modal{
    .modal-dialog {
        max-width: 729px;
        .modal-content{
        height: 484px;
        background-color: #8bc34a;
        font-family: 'Roboto', sans-serif;
        color: $color-text;
        border: none;
        border-radius: 0px;
            .modal-header{
                display: inline-block;
                border: none;
                padding: 0px;
                .close {
                    padding: 0px; 
                    margin: 10px 28px 0px 0px; 
                    font-family:"Fontawesome";
                    font-size: 18px;
                    line-height: 36px;
                    color: $color-text;
                    opacity: 1;
                    margin-right: 28px;
                }
                .modal-title{
                    text-align: center;
                    margin-top: 92px;
                    font-size: 48px;
                    line-height: 36px;
                    font-weight: bold;
                    text-transform: uppercase;
                }
            }
            .modal-body{
                display: flex;
                flex-direction: column;
                align-items: center;
                flex: none;
                color: $color-text;
                padding: 0px;
                margin-top: 42px;
                .modal-body-footer-container{
                    width: 400px;
                    margin: auto;
                    /* decorating fonts Font Awesom */
                    .modal-body-fawesom-name{
                        position: relative;
                        &:after{
                            font-family: FontAwesome;
                            content: "\f007";
                            font-size: 14px;
                            position: absolute;
                            right: 372px;
                            top: 1px;
                            color: $color-text;
                        }
                    }
                    .modal-body-fawesom-password{
                        position: relative;
                        &:after{
                            font-family: FontAwesome;
                            content: "\f023";
                            font-size: 14px;
                            position: absolute;
                            right: 372px;
                            top: 1px;
                            color: $color-text;
                        }
                    }
                    /*/ decorating fonts Font Awesom */
                    .modal-body-input{
                        width: 400px;
                        font-size: 14px;
                        line-height: 36px;
                        font-weight: 400;
                        background-color: #76ae36;
                        margin-bottom: 8px;
                        padding-left: 41px;
                        color: $color-text;
                    }
                }
            }
            .modal-footer-all{
                .modal-body-footer-container{
                    /* btn decorating */
                    .modal-footer-btn{
                        @include flex-center;
                        border: none;
                        font-family: 'Roboto', sans-serif;
                        padding: 0px;
                        margin-top: 11px;
                        color: $color-text;
                        /* btn 'Submit' decoration*/
                        .modal-btn{
                            height: 50px;
                            width: 139px;
                            font-size: 14px;
                            font-weight: 700;
                            line-height: 30px;
                            text-transform: uppercase;
                            color: #000000;
                            background-color: #ffffff;
                            box-shadow: 0px 3px 3px 1px rgba(83,149,31,1);
                        }
                        /* / btn 'Submit' decoration*/

                        /* btn 'Create an account' decoration*/
                        .modal-btn-primary{
                            height: 50px;
                            width: 250px;
                            color: $color-text;
                            background-color: #76ae36;
                            margin-left: 10px;
                            text-align: left;
                                .fa-edit{
                                    padding-left: 36px;
                                }
                                span{
                                    padding-left: 12px;
                                }
                            /* / btn 'Create an account' decoration*/
                        }
                        /* / btn decorating */
                    }
                    .modal-footer-password{
                        @include flex-center;
                        justify-content: flex-start;
                        max-width: 400px;
                        margin: auto;
                        padding-top: 19px;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 30px;
                    }
                }
            }
        }
    }
}
/* placeholder decoration */
::-webkit-input-placeholder {color:#ffffff;}
::-moz-placeholder          {color:#ffffff;}/* Firefox 19+ */
:-moz-placeholder           {color:#ffffff;}/* Firefox 18- */
:-ms-input-placeholder      {color:#ffffff;}
/* / placeholder decoration */


@media(max-width: 426px){
    .modal{
        .modal-dialog{
            .modal-content{
                .modal-body{
                    .modal-body-footer-container{
                        width: 275px;
                        text-align: center;
                        .modal-body-fawesom-name{
                            &::after{
                                right: 249px;
                            }
                        }
                        .modal-body-fawesom-password{
                            &::after{
                                right: 249px;
                            }
                        }
                        .modal-body-input {
                            width: 275px;
                        }
                    }
                }
                .modal-footer-all{
                    .modal-body-footer-container{
                        .modal-footer-btn{
                            @include flex-column;
                            .fa-edit {
                                padding-left: 7px;
                                }
                            span{
                                padding-left: 5px;
                                }
                                .modal-btn-primary{
                                    margin-top: 19px;
                                }
                            }
                        .modal-footer-password{
                            justify-content: center;
                        }
                        }
                    }
                }
        }
    }
}
/* ---/ block login --- */


