@import "../_variabels";
@import "../_mixins";


.header-product-details{
    .navbar-light {
        background-color: $background-color-navmenu;
        height: 60px;
        padding: 0px;
        font-weight: 500;
        font-size: 14px;
        line-height: 30px;
        color: $color-text;
        z-index: 3;
        .container{
            @include default-container;
            .navbar-toggler {
                margin-left: 45px;
                border: none;
            }
            .navbar-toggler-icon{
                width: 76px;
                height: 54px;
            }
            .navbar-collapse{
                .navbar-nav{
                    
                    .nav-link{
                        padding: 0px;
                        color: $color-text;
                    }
                    li + li{
                         margin-left: 43px;
                    }
                }
            }
        }
    }
    
}
@media(max-width: 991px){
    .header-product-details{
        .navbar-light{
            .container{
                .navbar-collapse{
                    .navbar-nav{
                        width: 150px;
                        background-color: $background-color-navmenu;
                        border-radius: 3px;
                        text-align: center;
                        margin-left: 20px;
                        li + li {
                            margin-left: 0px;
                       }
                    }
                }
            }
        }
    }
}

