@import "../_variabels";
@import "../_mixins";

.welcome{
    font-family: 'Roboto', sans-serif;
    background: url('../../img/title-img.jpg') no-repeat center / cover;
    width: 100%;
    height: 530px;
}