@import "../_variabels";
@import "../_mixins";


.welcome-main-menu{
    font-family: 'Roboto', sans-serif;
    .background{
        background: url('../img/header-background.jpg') no-repeat center / cover;
        width: 100%;
        height: 530px;
        /* ---  text decoration --- */
        .container{
            @include default-container;
            @include flex-center;
            flex-direction: column;
            color: $color-text;
            padding: 0px 10px;
            h1{
                margin-top: 160px;
                font-weight: bold;
                font-size: 48px;
                line-height: 30px;
            }
            p{
                margin-top: 58px;
                font-weight: 500;
                font-size: 20px;
                line-height: 30px;
            }
            /* --- / text decoration --- */
            span{
                position: relative;
                &:after{
                    font-family: FontAwesome;
                    content: "\f002";
                    font-size: 20px;
                    position: absolute;
                    right: 20px;
                    top: -5px;
                    color: #a0a0a0;
                    cursor: pointer;
                }
            }
            /* --- input decoration --- */
            .search{
                margin-top: 58px;
                width: 670px;
                height: 56px;
                border-radius: 3px;
                padding-left: 25px;
                font-size: 14px;
                line-height: 30px;
                letter-spacing: 0.7px;
                font-weight: 500;
                font-family: 'Roboto', sans-serif;
                    &::placeholder{
                        color:#95a2ac;
                    }
                    &:hover{
                        box-shadow: -1px 1px 12px 2px rgba(141,158,122,1);
                    }
            }
        }
    }
}

/* --- / input decoration --- */


@media(max-width: 880px){

    .welcome-main-menu{
        display: flex;
        flex-direction: column;
        z-index: 4;
        .background{
            .container{
                h1{
                    margin-top: 100px;
                    text-align: center;
                    line-height: normal;
                }
                p{
                    text-align: center;
                    margin: 20px;
                }
                .search{
                    max-width: 530px;
                }
            }
        }
    }
}


 @media(max-width: 590px){

    .welcome-main-menu{
        .background{
            .container{
                span{
                    &::after{
                        font-size: 19px;
                        right: 30px;
                        top: -3px;
                    }
                }
                .search {
                    margin: 24px 15px;
                    max-width: 400px;
                    height: 56px;
                }
            }
        }
    }
}

@media(max-width: 426px){

    .welcome-main-menu{
        .background{
            .container{
                h1{
                margin-top: 90px;
                font-size: 39px;
                }
                .search {
                    width: 300px;
                    height: 44px;
                }
            }
        }
    }
}