$color-top:#e74c3c;
$color-text: #ffffff;
$background-color: #f4f6f5;
$border-color: #dcdcdc;
$star-button: #8bc34a;
$background-input: #f9f9f9;
$input-color: #707070;
$line-color: #b0bec5;
$background-text: #263238;
$border-input: #000101;
$hover: #8bc34a;
$default-color: rgb(166, 166, 166);
$default-color-green: #9cc254;
$background-color-navmenu: #263238;


