body {
  font-family: 'Conv_Lato-Semibold';
  font-family: 'Roboto', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: "Fontawesome"; }

header {
  font-family: 'Roboto', sans-serif;
  width: 100%; }

.menu-top {
  max-width: 1170px;
  margin: auto;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 27px auto; }

.menu-help {
  margin-left: 485px;
  font-size: 15px; }
  .menu-help p {
    color: #e74c3c; }
    .menu-help p span {
      color: #546e7a; }

.menu-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 28px;
  width: 34px;
  height: 34px;
  background: #f5f5f5;
  border-radius: 50%;
  position: relative; }
  .menu-icon a {
    color: #a0a0a0; }

.menu-icon-number {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -30%;
  right: -4px;
  background: #e74c3c;
  color: #ffffff;
  font-size: 12px;
  border-radius: 50%;
  height: 18px;
  width: 18px; }

/* --- button decoration --- */
.menu-top-button {
  margin-left: 21px;
  font-size: 12px;
  color: #ffffff; }

.menu-top-button-l {
  padding: 12px 21px;
  background: #8bc34a;
  border-radius: 5px; }

.menu-top-button-r {
  background: #e74c3c;
  padding: 12px 14px;
  border-radius: 5px; }

/* --- / button decoration --- */
/* --- menu-nav --- */
.menu-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #263238;
  min-height: 60px;
  font-family: 'Roboto', sans-serif; }
  .menu-nav ul {
    max-width: 1170px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    color: #ffffff;
    font-weight: 500;
    font-size: 14px; }

.menu-nav li + li {
  margin-left: 40px; }

.slicknav_menu {
  display: none; }

/* --- / menu-nav --- */
/* --- site adaptation --- */
@media (max-width: 1170px) {
  .menu-help {
    justify-content: flex-start; }
  .menu-logo {
    margin-left: 15px; }
  .menu-help {
    margin: auto; }
  .menu-top-button {
    margin-right: 15px; }
  /*--- / menu-top ---*/ }

@media (max-width: 880px) {
  .menu-logo img {
    max-width: 70%; }
  .menu-help {
    font-size: 12px; }
  .menu-icon {
    width: 24px;
    height: 24px; }
  .fa-shopping-cart {
    font-size: 12px; }
  .menu-icon-number {
    font-size: 8px;
    height: 13px;
    width: 13px; }
  .menu-top-button {
    font-size: 10px; }
  .menu-top-button-l {
    padding: 9px 13px; }
  .menu-top-button-r {
    padding: 9px 6px; }
  /*--- / menu-top ---*/
  .menu-nav ul {
    font-size: 12px; }
  .menu-nav li + li {
    margin-left: 20px; }
  #main {
    display: none; }
  .menu-nav-ul .slicknav_menu {
    display: block; } }

@media (max-width: 590px) {
  .menu-logo img {
    max-width: 50%; }
  .menu-help p {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px; }
  .menu-icon {
    width: 20px;
    height: 20px; }
  .fa-shopping-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9px; }
  .menu-icon-number {
    font-size: 7px;
    height: 10px;
    width: 10px;
    top: -5px;
    right: -2px; }
  .menu-top-button-l {
    padding: 6px 11px; }
  .menu-top-button-r {
    padding: 6px 4px; }
  /*--- / menu-top ---*/
  .menu-nav {
    height: 180px; }
  .menu-list {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .menu-nav li + li {
    margin-top: 3px;
    margin-left: 0px; } }

@media (max-width: 490px) {
  .menu-nav {
    height: 180px; }
  .menu-top {
    display: flex;
    flex-direction: column;
    text-align: center; }
  .menu-logo {
    margin: auto; }
  .menu-help {
    margin-top: 10px; }
  .menu-help p span {
    margin-top: 10px; }
  .menu-icon {
    margin-top: 10px;
    margin-left: 0px; }
  .menu-top-button {
    margin-top: 10px; }
  .menu-top-button-l {
    padding: 3px 11px; }
  .menu-top-button-r {
    padding: 3px 4px; } }

.release-products {
  background: #f4f6f5;
  padding-top: 121px;
  padding-bottom: 112px; }

.release-products-title {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 36px;
  padding-bottom: 60px;
  text-align: center; }

.our-work {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  display: flex;
  justify-content: center;
  padding-bottom: 59px; }

.our-work li {
  background: #fff;
  padding: 13px 21px;
  margin: -1px; }

.our-work li.ui-state-active {
  background: #c94d3f;
  color: #fff; }

.our-work li {
  margin-right: 6px; }

.our-work li:last-child {
  margin: 0; }

.product-details {
  padding-bottom: 22px;
  background-color: #fff;
  width: 450px;
  margin: 0 15px 32px 15px;
  border-top: none;
  box-shadow: 0 1px 5px 0 #dadfe2;
  -webkit-box-shadow: 0 1px 5px 0 #dadfe2;
  -moz-box-shadow: 0 1px 5px 0 #dadfe2;
  box-shadow: 0 1px 5px 0 #dadfe2;
  -webkit-box-shadow: 0 1px 5px 0 #dadfe2;
  -moz-box-shadow: 0 1px 5px 0 #dadfe2;
  box-shadow: 0 1px 5px 0 #dadfe2;
  position: relative;
  overflow: hidden; }

.product-details:hover {
  box-shadow: 0 14px 28px transparent, 0 14px 14px rgba(0, 0, 0, 0.09);
  transition: all 0.5s ease; }

.product-information {
  font-family: 'Roboto', sans-serif;
  font-weight: 500; }

.foto-product {
  height: 250px;
  background: #d3d3d3;
  margin-bottom: 29px; }

.product-title {
  margin-bottom: 16px;
  font-size: 18px;
  color: #2e353a;
  display: block;
  font-weight: 500; }

.title-info {
  border-bottom: solid 1px #e8ecf1;
  padding: 0 31px 17px 31px;
  margin-bottom: 17px; }

.subtitle {
  font-size: 14px;
  color: #9cc254;
  font-weight: 500; }

.price-product {
  font-size: 20px;
  color: #2e353a;
  float: right;
  margin-top: -20px;
  font-weight: 700; }

.assessment-product {
  display: flex;
  align-items: center;
  padding: 0 31px 0 31px; }

.assessment-product span:nth-child(2) {
  font-size: 14px;
  color: #5d6e79;
  margin-right: 140px;
  font-weight: 500; }

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #b3b3b3;
  margin-right: 14px; }

.stars {
  color: #eaa537;
  font-size: 12px; }

.product-evaluation {
  font-size: 12px;
  color: #2e353a;
  margin-left: 15px;
  font-weight: 400; }

.product-evaluation::after {
  content: ')';
  color: #b3bdc3; }

.product-evaluation::before {
  content: '(';
  color: #b3bdc3; }

.wrapp-lightning::before {
  width: 60px;
  height: 110px;
  position: absolute;
  background: #9cc254;
  right: 408px;
  bottom: 356px;
  transform: rotate(45deg);
  content: ""; }

.lightning::after {
  content: "\f0e7";
  font-size: 18px;
  color: #fff;
  font-family: "Fontawesome";
  position: absolute;
  top: 11px;
  left: 14px; }

.all {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.wordPress {
  display: flex;
  justify-content: space-around; }

.jomla {
  display: flex;
  justify-content: space-around; }

.plugins {
  display: flex;
  justify-content: space-around; }

.component {
  display: flex;
  justify-content: space-around; }

.pcd {
  display: flex;
  justify-content: space-around; }

.more-items {
  text-align: center;
  margin-top: 46px; }

.new-items {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #2e353a;
  background: #fff;
  padding: 21px 40px 19px 32px;
  margin: 0 6px;
  box-shadow: 0 1px 5px 0 #dadfe2;
  -webkit-box-shadow: 0 1px 5px 0 #dadfe2;
  -moz-box-shadow: 0 1px 5px 0 #dadfe2;
  box-shadow: 0 1px 5px 0 #dadfe2;
  -webkit-box-shadow: 0 1px 5px 0 #dadfe2;
  -moz-box-shadow: 0 1px 5px 0 #dadfe2;
  box-shadow: 0 1px 5px 0 #dadfe2; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  margin: 0; }

*:focus {
  outline: none; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

input {
  border: none; }

a {
  color: inherit;
  text-decoration: none; }

a:hover, a:active {
  text-decoration: none; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

img {
  max-width: 100%; }

button {
  background: none;
  border: none;
  cursor: pointer; }

@font-face {
  font-family: 'Conv_Lato-Semibold';
  src: url("../fonts/Lato-Semibold.eot");
  src: url("../fonts/Lato-Semibold.woff") format("woff"), url("fonts/Lato-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Fontawesome";
  src: url("../fonts/fontawesome-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

.welcome {
  font-family: 'Roboto', sans-serif; }

.welcome-background {
  background: url("../../img/titleimg.jpg") no-repeat center/cover;
  width: 100%;
  height: 530px; }

/* ---  text decoration --- */
.welcome-container {
  max-width: 1170px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #ffffff; }
  .welcome-container h1 {
    margin-top: 160px;
    font-weight: bold;
    font-size: 48px;
    line-height: 30px; }

.welcome-paragraf {
  margin-top: 58px;
  font-weight: medium;
  font-size: 20px;
  line-height: 30px; }

/* --- / text decoration --- */
/* --- input decoration --- */
.welcome-search {
  margin-top: 58px;
  width: 670px;
  height: 56px;
  border-radius: 3px;
  padding-left: 25px;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.7px;
  color: #a0a0a0;
  font-weight: 500;
  font-family: 'Roboto', sans-serif; }
  .welcome-search:hover {
    box-shadow: -1px 1px 12px 2px #8d9e7a; }

form span {
  position: relative; }
  form span:after {
    font-family: FontAwesome;
    content: "\f002";
    font-size: 20px;
    position: absolute;
    right: 20px;
    top: -1px;
    color: #a0a0a0;
    cursor: pointer; }

/* --- / input decoration --- */
/*  */
@media (max-width: 880px) {
  .welcome-container h1 {
    font-size: 40px;
    margin-top: 130px;
    line-height: 15px; }
  .welcome-paragraf {
    font-size: 17px; }
  .welcome-search {
    width: 540px;
    height: 40px; }
  .welcome-search {
    font-size: 11px; }
  form span:after {
    font-size: 16px;
    right: 11px;
    top: 2px; } }

@media (max-width: 660px) {
  .welcome-container h1 {
    font-size: 33px;
    line-height: 5px; }
  .welcome-paragraf {
    font-size: 14px; }
  .welcome-search {
    width: 460px;
    height: 35px;
    font-size: 9px; }
  form span:after {
    font-size: 12px;
    top: 6px; } }

@media (max-width: 590px) {
  .welcome-background {
    height: 300px; }
  .welcome-container h1 {
    margin-top: 77px;
    font-size: 25px; }
  .welcome-paragraf {
    margin-top: 35px;
    font-size: 11px; }
  .welcome-search {
    margin-top: 24px;
    width: 345px;
    height: 22px;
    font-size: 8px; } }

@media (max-width: 425px) {
  .welcome-container h1 {
    line-height: 26px;
    text-align: center;
    padding: 0px 15px; }
  .welcome-paragraf {
    margin-top: 19px;
    font-size: 11px;
    padding: 0px 53px;
    text-align: center;
    line-height: 15px; }
  .welcome-search {
    width: 220px; } }
